#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
     &kp LSHIFT    &kp LCTL    &kp TAB    &kp ESC   
     &kp Z    &kp A    &kp Q    &kp 1   
     &kp X    &kp S    &kp W    &kp 2   
     &kp C    &kp D    &kp E    &kp 3   
     &kp V    &kp F    &kp R    &lt 2 KP_ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_layer {
            bindings = <
     &kp TAB    &kp KP_DIVIDE    &kp KP_MULTIPLY    &kp BACKSPACE   
     &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_MINUS   
     &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_PLUS   
     &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_ENTER   
     &kp KP_N0    &kp X    &kp KP_DOT    &lt 2 KP_ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        ctrl_layer {
            bindings = <
     &bt BT_CLR    &bt BT_PRV    &bt BT_NXT    &kp L   
     &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 2   
     &kp L    &kp L    &kp L    &kp L   
     &to 0    &to 1    &kp L    &kp L   
     &kp L    &kp L    &kp L    &tog 1    
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };



    };
};
